tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: 987654;
}

tbody tr {
  background-image: url(noise.png);
}

table {
  background-color: #987654;
}
